{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "max-len": ["error", { "code": 80 }],
    "indent": ["error", 2, { "MemberExpression": 1 }],
    "semi": ["error", "always"],
    "object-curly-spacing": ["error", "always"]
  }
}
